services:
  web:
    build: .
    restart: always
    container_name: library_web
    command: gunicorn --bind 0.0.0.0:8000 library_management.wsgi:application
    volumes:
      - .:/app
      - ./media:/app/media
      - ./static:/app/static
    ports:
      # map host port 8001 -> container port 8000
      - "8001:8000"
    env_file:
    - .env
    depends_on:
      - db
  db:
    image: postgres:15
    restart: always
    container_name: library_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env

volumes:
  postgres_data: