{% extends 'base.html' %}

{% block content %}

<div class="container my-5">

    <h2 class="text-center mb-4">List of Books</h2>

    <div class="row">
        {% for book in books %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-header text-center font-weight-bold">{{ book.title }}</div>
                <div class="card-body text-center">
                    <p class="card-text">Stock: {{ book.stock }}</p>
                    <a href="" class="btn btn-outline-info">Borrow it</a>
                    <a href="" class="btn btn-outline-warning ">Return it</a>

                    {% if user.is_staff %}
                    <a href="{% url 'myApp:edit-book' book.pk %}" class="btn btn-outline-primary ">Edit book</a>
                    {% endif %}

                </div>
                <div class="card-footer text-muted text-center">by {{ book.author.name }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
